# vim:ft=kitty

font_family Berkeley Mono

{{- if eq .chezmoi.os "darwin" }}
font_size 18
{{- else if eq .chezmoi.os "linux" }}
font_size 14
{{- end }}

cursor_shape block
shell_integration no-cursor
text_composition_strategy legacy

input_delay 0
repaint_delay 2
sync_to_monitor no
wayland_enable_ime no
enable_audio_bell no
scrollback_pager nvim --cmd 'set eventignore=FileType' +'nnoremap q ZQ' +'call nvim_open_term(0, {})' +'set nomodified nolist' +'$' -

allow_remote_control socket-only

{{- if eq .chezmoi.os "darwin" }}
listen_on unix:scout
{{- else if eq .chezmoi.os "linux" }}
listen_on unix:@scout
{{- end }}

enabled_layouts splits:split_axis=horizontal
map ctrl+b>o launch --cwd=current --location=vsplit
map ctrl+b>e launch --cwd=current --location=hsplit
map ctrl+b>c launch --cwd=current --type=tab

map ctrl+b>1 goto_tab 1
map ctrl+b>2 goto_tab 2
map ctrl+b>3 goto_tab 3
map ctrl+b>4 goto_tab 4
map ctrl+b>5 goto_tab 5
map ctrl+b>n next_tab
map ctrl+b>p previous_tab

map ctrl+b>h neighboring_window left
map ctrl+b>l neighboring_window right
map ctrl+b>j neighboring_window down
map ctrl+b>k neighboring_window up

map ctrl+b>r start_resizing_window
map ctrl+b>[ show_scrollback

map ctrl+b>f launch --type=overlay --cwd=current scout --backend=kitty

tab_bar_filter session:~
tab_bar_style custom
tab_separator ""
tab_title_template "{index}:{tab.active_oldest_exe}"
active_tab_title_template "{index}:{tab.active_oldest_exe}"
tab_bar_align left
tab_bar_edge top
tab_bar_background none
tab_bar_min_tabs 1

############################################################################
THEME
############################################################################

## name: Kanagawa
## license: MIT
## author: Tommaso Laurenzi
## upstream: https://github.com/rebelot/kanagawa.nvim/

background #1F1F28
foreground #DCD7BA
selection_background #2D4F67
selection_foreground #C8C093
url_color #72A7BC
cursor #C8C093

# Tabs
active_tab_foreground #1F1F28
active_tab_background #DCD7BA
inactive_tab_foreground #DCD7BA
inactive_tab_background #1F1F28

# normal
color0 #16161D
color1 #C34043
color2 #76946A
color3 #C0A36E
color4 #7E9CD8
color5 #957FB8
color6 #6A9589
color7 #C8C093

# bright
color8  #727169
color9  #E82424
color10 #98BB6C
color11 #E6C384
color12 #7FB4CA
color13 #938AA9
color14 #7AA89F
color15 #DCD7BA


# extended colors
color16 #FFA066
color17 #FF5D62
